<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Your Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list>
     
    <ion-item-sliding *ngFor="let schedule of schedules">
     <ion-card>
      <ion-item >
        <ion-label (click)="popupSchedule(schedule)">
          <h2 class="title">{{schedule.data().title}}</h2>
          <h3 class="wrap-text">{{schedule.data().description}}</h3>
          <p *ngIf="schedule.data().date" [innerHTML]="getDate(schedule.data().date)"></p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="secondary" (click)="markCompleted(schedule)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-card>
    </ion-item-sliding>

  </ion-list>
 


  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="gotoAddSchedule()">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>