<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="#"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Create New Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding> 
  <ion-list>
    <ion-item>
      <ion-label position="stacked"> Schedule Title</ion-label>
      <ion-input type="text" [(ngModel)]="title"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked"> Schedule Description</ion-label>
        <ion-textarea auto-grow="true" [(ngModel)]="description"></ion-textarea>
      </ion-item>

      <ion-item>
          <ion-label position="stacked"> Select Date</ion-label>
         <ion-datetime display-format="MM/DD/YYYY" [(ngModel)]= "date"></ion-datetime>
        </ion-item>
        
  </ion-list>
  <ion-button expand="block" shape="round" color="primary" (click)="add_schedule()">Add Schedule</ion-button>
</ion-content>
